<div class="users-pages">
  <div class="login-box">
    <h3>Log In</h3>

    <%= form_for(:session, url: login_path)  do |f| %>

      <%= f.label :username, :class => 'username' %> <br>
      <%= f.text_field :username, :class => 'username' %>
      <br><br>
      <%= f.label :password, :class => 'password' %> <br>
      <%= f.password_field :password, :class => 'password' %>
      <br><br>
      <%= f.submit 'Login', :class => 'submit'%>

    <% end %>

    <p>
    <%= link_to "Back to home", posts_path %>
    </p>

  </div>
</div>
