<div class="users_container">
  <div class="edit-user">
    <h3>Edit</h3>

    <%= form_for @user do |f| %>
      <%= f.label :email, :class => 'email' %> <br>
      <%= f.text_field :email, :class => 'email' %>
      <br><br>
      <%= f.label :username, :class => 'username' %> <br>
      <%= f.text_field :username, :class => 'username' %>
      <br><br>
      <%= f.label :password, :class => 'password' %> <br>
      <%= f.password_field :password, :class => 'password' %>
      <br><br>
      <%= f.submit 'Submit Changes', :class => 'submit'%>
    <% end %>

  <p>
  <%= link_to "Back to Profile", user_path(@user) %>
  </p>

  </div>
</div>
