<div class="posts-page">
  <div class="show-posts">
    <% @posts.reverse_each do |post| %>
      <div class="each-post">
      	<h3><a href="/posts/<%= post.id %>"> <%= post.title %> </a></h3>
      	<h4><a href="/users/<%= post.user.id %>"> <%= post.user.username %> </a></h4>

      	<p><%= post.content %></p>

        <p><%= link_to "Add Comment", new_comment_path(post_id: post.id) %></p>
        <br>
      </div>
  	<% end %>
  </div>
</div>
