<div class="posts-container">
  <div class="all-posts">
    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>

    <p>
      <%= link_to "Edit", edit_post_path(@post) %>
    </p>

    <p>
      <%= link_to "Show all posts", posts_path %>
    </p>

    <div class ="comment-container">
      <h2>Comments:</h2>
        <% @comments.each do |comment| %>
          <div class="each-comment">
            <p>
              <strong>User:</strong><br>
              <%= comment.user.username %>
            </p>

            <p>
              <strong>Comment:</strong><br>
              <%= comment.content %>
            </p>
          </div>
        <% end %>
    </div>
  </div>
</div>
