<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
          <% if current_user %>
            <li><a href="/posts">All Posts</a></li>
            <li><a href="/posts/new">Add New Post</a></li>
            <li class="right"><a href="/logout">Logout</a></li>
            <li class="right"><a href="/users/<%= current_user.id %>">Current User: <%= current_user ? current_user.username : "No user signed in."%></a></li>
          <% else %>
            <li class="right"><a href="/login">Login</a></li>
            <li class="right"><a href="/users/new">Signup</a></li>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- <div class="current-user">
      <p>
        Current User: <%= current_user ? current_user.username : "No user signed in." %>
      </p>
    </div> -->
    <%= yield %>

  </body>
</html>
